* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.h1 {
  background-color: rgb(94, 92, 91);
  color: rgb(247, 247, 247);
  font-size: 72px;
  font-family: monospace;
  text-align: center;
}

.h3 {
  background-color: rgb(162, 226, 235);
  color: rgb(26, 24, 24);
  font-size: 56px;
  padding-left: 10vw;
  font-family: monospace;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 10vw;
}

.links > a {
  border: 1px solid black;
  flex: 0.3;
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 2vh 0;
  font-family: monospace;
  text-decoration: none;
  border-radius: 20px;
}

.form {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.form > form {
  flex: 0.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form > form > input {
  flex: 0.12;
  width: 70%;
  border-radius: 10px;
  font-size: 24px;
  font-family: monospace;
  padding-left: 1vw;
}

#file {
  border-radius: 0;
}

#submit {
  width: 50%;
  padding-left: 0;
}

a:hover {
  color: rgb(112, 109, 109);
}
