<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/play.css">
    <title>Music Manager</title>
</head>
<body>
    <div class="h1">Manage Music</div>
    <div class="h3">Play</div>
    <div class="links">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('.download', id=id, song=song)}}">Download</a>
    </div>
    <div class="maincontainer">
        <div class="image">
            {% if exist %}
            <img src="../static/assets/{{id}}.jpg" alt="Album image">
            {% else %}
            <img src="../static/assets/0.jpg" alt="Album image">
            {% endif %}
        </div>
        <span class="song">{{song}}</span>
        <div class="details">
            <span class="artist">{{artist}},</span>
            <span class="album">{{album}}</span>
        </div>
        <audio controls>
            <source src="../static/songs/{{id}}.mp3" type="audio/mpeg">
        </audio>
    </div>
</body>
</html>